/* light */
.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #1f2328;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: auto;
  z-index: 1; /* 确保 markdown-body 在导航栏下方 */
  position: relative;
}

.markdown-body h1::before {
  content: '#';
  margin-right: 5px;
  color: #fe5f58;
}

.markdown-body h1 {
  margin: 30px 0px;
  padding: 0px;
  font-family: 'SiYuan_HeiTi';
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;

}

.markdown-body h2::before {
  content: '##';
  margin-right: 5px;
  color: #ff5d52;
}

.markdown-body h2 {
  margin: 25px 0px;
  padding: 0px;
  font-family: 'SiYuan_HeiTi';
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1.5;

}

.markdown-body h3::before {
  content: '###';
  margin-right: 5px;
  color: #ff8a65;
}

.markdown-body h3 {
  margin: 20px 0px;
  padding: 0px;
  font-family: 'SiYuan_HeiTi';
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;

}

.markdown-body h4::before {
  content: '####';
  margin-right: 5px;
  color: #ffab91;
}

.markdown-body h4 {
  margin: 15px 0px;
  padding: 0px;
  font-family: 'SiYuan_HeiTi';
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000;

}

.markdown-body strong {
  font-weight: bold;
  color: #797979;

}

.markdown-body em {
  font-style: italic;
  color: #797979;

}

/* 标记 */
.markdown-body mark {
  background-color: #fefac7;
  color: #e67474;
}

/* 下划线 */
.markdown-body ins {
  text-decoration: underline;
  color: #797979;

}

/* 删除线 */
.markdown-body s {
  text-decoration: line-through;
  color: #797979;

}

/* 引用 */
.markdown-body blockquote {
  margin: 10px 0px;
  padding: 10px;
  font-family: 'XiaWuWenKai';
  font-size: 1.0rem;
  font-weight: 300;
  line-height: 1.6; /* 增大行高 */
  border-left: 5px solid #a68bff;
  background-color: #f3f0ff;
  height: 50px;
}

/* 设置无序列表的基本样式 */
.markdown-body ul {
  list-style-type: circle; /* 使用空心圆圈作为标记 */
  padding-left: 20px;      /* 添加左侧内边距 */
}

/* 设置无序列表项的样式 */
.markdown-body ul li {
  margin: 5px 0;           /* 添加上下间距 */
  color: inherit;          /* 继承父元素的颜色 */
}

/* 定制无序列表标记的颜色 */
.markdown-body ul li::marker {
  color: #db524f;          /* 设置标记的颜色 */
}

/* 有序 */
.markdown-body ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown-body ol li {
  margin: 5px 0;
  color: inherit; /* 继承父元素的颜色，这样文字颜色不会改变 */
}

.markdown-body ol li::marker {
  color: #db524f; /* 修改有序列表数字的颜色 */
}

.markdown-body img {
  max-width: 100%;
  max-height: auto;
  margin-left: 25%;
}
pre {
  position: relative;
  background: #21252b;
  border-radius: 5px;
  font: 22px "Arial", Sans-Serif;
  font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  text-shadow: none;
  color: #ddd;
  padding: 30px 10px 10px 10px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, .4);
}

pre:before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  left: 12px;
  top: 12px;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1.8em;
}

.theme--light.v-application code {
  background: transparent !important;
  color: inherit !important;
}

code {
  border-radius: 3px;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 100%;
  background: transparent;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #61dafb;
  border: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.copy-button:hover {
  background: #21a1f1;
}
.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.markdown-body tr {
  border-bottom: 1px solid #ddd;
}

.markdown-body th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.markdown-body tbody {
  background-color: #fff;
}
